
<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/registration.css">

</head>
<header>
    <%- include('header');%>
</header>
<body>
<h2>Место, где мы рассказываем о себе</h2>
</body>
