<!doctype html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>

    <div class = "wrapper">
        <header>
            <%- include('header'); %>
        </header>
    <main>
        <h3>Profile</h3>
        <div class = "all_content">
            <div id = "avatars_nickname" class="wrapper_main">
                <div class="user_avatar">
                    <img src="../img/qDQxSNfaHao.jpg" >
                </div>
                <div class = "nickname">
                    <p><%= Nickname %></p>
                </div>
                <form class = "container_button_search">
                    <input class="buttonSearch_profile" type="submit" name="submit" value="Change Nickname">
                    <input class="buttonSearch_profile" type="submit" name="submit" value="Change Avatar">
                </form>
            </div>
            <div id = "posts_and_comments" class="wrapper_main">
                <div class = "content">Fuck you1</div>
                <div class = "content"> Fuck you2</div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('footer'); %>
    </footer>
    </div>
</body>
</html>