<head>
    <%- include('head'); %>
</head>

<div class="wrapper">
    <header>
        <%- include('header'); %>
    </header>

    <h2 class = "text">Registration</h2>
    <div class = "reg-conteiner">
        <div class = "reg-log"></div>
            <p class = "comment_form_field">Login:</p>
            <input required type="text" name="text" placeholder="Frog" maxlength="10" class="form1">
        </div>
        <div class = "reg-pas"></div>
            <p class = "comment_form_field">Password:</p>
            <input required type="text" name="text" placeholder="Frog" maxlength="10" class="form1">
        </div>
    <input class="buttonSearch" type="submit" name="submit" value="Enter">
    </div>
    <div class = "log-conteiner-form">
        <a href="/login">I have profile</a>
    </div>
    <footer>
        <%- include('footer'); %>
    </footer>
</div>