@font-face {
    font-family: Chakra_Bold;
    src : url(../../damnwebproject/public/fonts/Chakra/ChakraPetch-Bold.ttf);
}
@font-face {
    font-family: Anonym_Bold;
    src : url(../../damnwebproject/public/fonts/Anonym/AnonymousPro-Bold.ttf);
}