body {
    background: linear-gradient(45deg, #000428, #004e92);
}

.wrapper {
    width: min(900px, 100%);
    margin: 0 auto;
    padding: 0 10px;
}

h2 {
    color: #d7d7d7;
    font-family: Chakra_Bold;
}

.img_comment img {
    width: 200px;
    height: 230px;
    border: 2px solid #102034;
    object-fit: cover;
}
.article {
    background:linear-gradient(45deg, #141E30,#243B55);
    border: 2px solid #102034;
    margin: 10px 0 10px 0;
    width: 100%;

}

.article-header {

}


